---
layout: base.njk
---
<article>
    {% if not hideTite %}
        <header class="entry-header">
            <h1 class="entry-title">{{ title }}</h1>
        </header>
    {% endif %}
    {{ content | safe}}
</article>