---
layout: base.njk
---
<article>
    {% if not hideTite %}
        <header class="entry-header">
            <h1 class="entry-title">{{ title }}</h1>
            <div class="entry-meta mb-3">
                <span class="post-date text-muted text-smal">{{ page.date | postDate }}</span>
            </div>
        </header>
    {% endif %}
    {{ content | safe}}
</article>