*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	text-rendering: optimizeLegibility;
}

article, aside, audio,
footer, header, nav, section, video {
	display: block;
}


a.skip-main {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: black;
	color: white;
	opacity: 0;
}

