<meta name="description" content="{{ meta.description or page.excerpt }}">

<meta property="og:site_name" content="{{ page.title }}">
<meta property="og:title" content="{{ meta.title or page.title }}">
<meta property="og:description" content="{{ meta.description or page.excerpt }}">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:locale" content="{{ site.local or meta.locale }}">

<link rel="icon" href="{{ '/assets/favicons/favicon.ico' | url }}">
