<ul class="navbar-nav ms-auto">
    {%- for item in collections.all | eleventyNavigation -%}
    {%- set isCurrent = (item.url == page.url) -%}
    <li class="nav-item">
            <a class="nav-link{% if isCurrent or isParent %} active{% endif %}" href="{{ item.url }}">
                {{ item.title }}
            </a>
    </li>
    {%- endfor -%}
</ul>
